APP_NAME=BeyondChats
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mongodb
DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=beyondchats
DB_USERNAME=
DB_PASSWORD=
MONGODB_URI=
